{% extends '../main_app/base.html' %}
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} 
{% block content %}

<div class="page-header">
    
  {% if employee %}
        <h1>Edit employee date for {{ employee.employee.name }}</h1>
  {% else %}
        <h1>Add Employee</h1>
  {% endif %}
  
  <img src="{% static 'images/logo2.jpg' %}" alt="logo2" />
</div>

<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Submit</button>
</form>

{% endblock %}
