{% extends '../main_app/base.html' %}
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/tasks/task_detail.css' %}" />
{% endblock %} 
{% block content %}
<section class="detail-container">
  <div class="detail">
    <h2><strong>Task:</strong> {{ task.task_name }}</h2>
    <h3><strong>Project:</strong> {{ task.project }}</h3>
    <p><strong>Start Date:</strong> {{ task.start_date }}</p>
    <p><strong>DeadLine:</strong> {{ task.end_date }}</p>
    <p><strong>Status: </strong>
        <strong>
            {% if task.status %}
                <span class="status-done">Done</span>
            {% else %}
                <span class="status-pending">Pending</span>
            {% endif %}
        </strong>
    </p>
    <p><strong>Task Description:</strong> {{ task.description }}</p>
    <br>
    <div class="action">
        <div class="action-left">
            <a href="{% url 'task_update' task.id %}" class="btn warn">Edit</a>
            <a href="{% url 'task_delete' task.id %}" class="btn danger">Delete</a>
        </div>
        <div class="action-right">
            <a href="{% url 'task_list' %}" class="btn common">Back to the List</a>
        </div>
    </div>

  </div>
</section>
{% endblock %}