{% extends '../main_app/base.html' %}
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/tasks/task_list.css' %}" />
{% endblock %} 
{% block content %}

<section class="page-header">
  <h1>Task List</h1>
  <img src="{% static 'images/logo2.jpg' %}" alt="logo2" />
  <img src="{% static 'images/logo.jpg' %}" alt="logo" />
</section>

<a href="{% url 'task_create' %}" class="btn common">Add Task</a>

<table class="table-reg">
  <thead>
    <tr>
      <th>Task Name</th>
      <th>Project</th>
      <th>Start Date</th>
      <th>Deadline</th>
      <th>Status</th>
      <th>Detail</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
    <tr>
      <td>{{ task.task_name }}</td>
      <td>{{ task.project }}</td>
      <td>{{ task.start_date }}</td>
      <td>{{ task.end_date }}</td>
      <td>
        {% if task.status %}
          <span class="status-done">Done</span>
        {% else %}
          <span class="status-pending">Pending</span>
        {% endif %}
      </td>
      <td>
        <a href="{% url 'task_detail' task.id %}" class = "common-link">View</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}