
{% extends 'base.html' %} 
{% block content %} 
<h1>About Panda Software Timesheet</h1>
<hr />
<p>
    Panda Timesheet is a smart, intuitive app designed to help companies of all sizes accurately track their employees' work hours and activities. Whether you're managing a remote team, overseeing field workers, or running an in-office staff, Panda Timesheet gives you the tools to monitor productivity, log tasks, and ensure fair, hourly-based compensation.
</p>
<br>
<p>
    Our platform makes time tracking effortless with user-friendly features that allow employees to log their hours, update their tasks in real-time, and submit timesheets for review—all in just a few clicks. For employers, this means transparent reporting, better workload management, and accurate payroll processing based on real work done.
</p>

<h2>Why Choose Panda Timesheet?</h2>

<ul>
    <li><strong>Easy to Use - </strong> Intuitive interface for both employees and managers.</li>
    <li><strong>Hourly Task Tracking - </strong> Log hours and tasks as they happen.</li>
    <li><strong>Simplified Payroll - </strong> Pay employees fairly and accurately based on verified hours.</li>
    <li><strong>Secure - </strong> Your data is protected with industry-standard security measures.</li>
    <li><strong>Flexible for Any Industry - </strong> erfect for tech teams, agencies, construction crews, freelancers, and more.</li>

{% endblock %}
   

