{% extends 'base.html' %} 
{% block content %} 
<h1>Help</h1>
<hr/>
<h3>
    Help Menu
</h3>
<h4>
    Please help yourself by googling the following topics:
</h4>
<ul>
    <li>How to use Panda Software Timesheet</li>
    <li>How to use Panda Software Timesheet login</li>
    <li>How to use Panda Software Timesheet signup</li>
    <li>How to use Panda Software Timesheet contact</li>
    <li>How to use Panda Software Timesheet about</li>
    <li>How to use Panda Software Timesheet help</li>
    <li>How to use Panda Software Timesheet employees</li>
</ul>

{% endblock %}