.card-container {
  padding: 0 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 275px;
  margin: 10px;
  border: var(--borders);
  box-shadow: var(--card-box-shadow);
}

.card-content {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: center;
  text-align: center;  /* Center text */
}

.usr-img {
  width: 100%;
  border-radius: var(--card-border-radius);
  display: block;
  margin: 0 auto 10px auto; /* Center image with margin below */
}

.card h2 {
  margin: 10px 0 0 0;
  font-size: var(--font-xl);
  text-align: center;
}

.card p {
  margin: 5px 0;
  font-size: var(--font-reg);
  text-align: center;
}

.card > a {
  text-decoration: none;
  color: var(--text-color);
}


a.button {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 7px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
    font-weight: 600;
}