.timesheet-items-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: var(--borders);
  flex-direction: row;
}

.header-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}