{% extends '../main_app/base.html' %}
{% load humanize %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/timesheet_list.css' %}" />
{% endblock %}
{% block content %}
<section class="page-header">
    <h1>Timesheet List</h1>
    <img src="{% static 'images/logo2.jpg' %}" alt="logo2" />
    <img src="{% static 'images/logo.jpg' %}" alt="logo" />
</section>

<a href="{% url 'timesheet_create' %}" class="btn common">Add Timesheet</a>

{% if timesheets %} 
    <table class="table-reg">
        <thead>
            <tr>
                <th>Employee</th>
                <th>Timesheet Date</th>
                <th>Total Hour</th>
                <th>Hourly Salary</th>
                <th>Wages</th>
                <th>Status</th>
                <th>View</th>
                <th>Pay</th>
            </tr>
        </thead>
        <tbody>
            {% for timesheet in timesheets %}
            <tr>
                <td>{{ timesheet.employee.first_name }} {{ timesheet.employee.last_name }}</td>  
                <td>{{ timesheet.timesheet_date }}</td>
                <td>{{ timesheet.total_hours_worked}}</td>
                <td>$ {{ timesheet.employee.hourly_salary }}</td>
                <td>$ {{ timesheet.calculate_pay |floatformat:2|intcomma }}</td>
                <td>Unpaid</td>
                <td>
                    <a href="{% url 'timesheet_detail' timesheet.id %}" class = "common-link">View</a>
                </td>
                
                <td>
                    <a href="{% url 'pay' %}" class = "common-link">Pay</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No timesheet available.</p>
{% endif %}

{% endblock %}
