{% extends '../main_app/base.html' %}
{% load humanize %}
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/timesheets/timesheet_detail.css' %}" />
{% endblock %} 
{% block content %}
<section class="timesheet-container">
    <div class="detail">
        <div class="header-row">
            <h2>
                {{ timesheet.employee.first_name }} {{ timesheet.employee.last_name }} - <span class="title-small">({{ timesheet.employee.job_title }})</span>
            </h2>
            <h3 class="timesheet-date">
                Timesheet Date : {{ timesheet.timesheet_date }} ({{ timesheet.timesheet_date|date:"l" }})
            </h3>
          
        </div>
        <div class="timesheet-actions">
            <a href="{% url 'timesheet_update' timesheet.id %}" class="btn warn">Edit Timesheet Date</a>
            <a href="{% url 'timesheet_delete' timesheet.id %}" class="btn danger">Delete Timesheet</a>
        </div>
    </div>
    <br>
    <hr>
</section>

<section class="timesheet-items">
    <div class="timesheet-items-header">
            <h3>Timesheet Items:</h3>
            <h4><strong>Total Hours Worked:</strong> {{ timesheet.total_hours_worked }}</h4>
    </div>
    
    
    <a href="{% url 'timesheet_item_create' timesheet.id %}" class="btn common">Add Item</a>
    <br>
    {% if timesheet_items %} 
        <table class="table-reg">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Project</th>
                    <th>Hours Worked</th>
                    <th>Comment</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for timesheet_item in timesheet_items %}
                <tr>
                    <td>{{ timesheet_item.task.task_name }}</td>
                    <td>{{ timesheet_item.task.project }}</td>
                    <td>{{ timesheet_item.hours_worked }}</td>
                    <td>{{ timesheet_item.comment}}</td>
                    <td>
                        <a href="{% url 'timesheet_item_update' timesheet.id timesheet_item.id %}" class="common-link">Edit</a>
                    </td>
                    <td>
                        <a href="{% url 'timesheet_item_delete' timesheet.id timesheet_item.id %}" class="delete-link">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No Timesheet item, please add item!</p>
    {% endif %}
</section>
{% endblock %}



