.task-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background: #fff;
  box-shadow: var(--card-box-shadow);
  border-radius: var(--card-border-radius);
  overflow: hidden;
}

.task-table th, .task-table td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
  font-size: var(--font-l);
}

.task-table th {
  background-color: rgb(169, 167, 167);
  font-size: var(--font-l);
  font-weight: 700;
}

.task-table tr:last-child td {
  border-bottom: none;
}

.task-table tr:hover {
  background-color: #f5faff;
}

.status-done {
  color: #219a00;
  font-weight: bold;
}

.status-pending {
  color: #d32f2f;
  font-weight: bold;
}