.task-container {
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.task-img {
  width: 75%;
  max-width: 350px;
}

.usr-img {
  width: 100%;
  border-radius: var(--card-border-radius);
}

.task-details {
  width: 98%;
}

.task-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  flex-direction: row;
}

.task-actions-left {
  display: flex;
  gap: 10px;
}

.task-actions-right {
  display: flex;
  gap: 10px;
}

.status-done {
  color: green;
}
.status-pending {
  color: red;
}